ur-form {
  display: flex;
  flex-wrap: wrap;
  opacity: 0; // set to one in javascript
  form { display: block; width: 100%; }
  ur-input { display: block; }
  ur-input, .button_div, .non_field_error {
    flex-basis: 100%;
  }
}
