konsole {
  bottom: 0;
  height: 200px;
  position: fixed;
  right: 0;
  width: 400px;
  ur-tabs.default {
    .tab-anchors {
      bottom: 100%;
      position: absolute;
      a { background: rgba(255,255,255,0.8); }
    }
    ur-tab { background: rgba(200,200,200,0.8); height: 100%; }
  }
}
