ur-input.multi-file multi-file {
  display:block;
  label { cursor: pointer; position: relative; }
  + label { font-size: 0.8rem; top: -0.3rem; }
  .file {
    align-items: center;
    display: flex;
    justify-content: space-between;
    .name { font-weight: bold; }
    .fa {
      cursor: pointer;
      font-size: 2em;
      opacity: 0.8;
      &:hover { opacity: 1; }
    }
  }
}