body[ur-theme=spectre] {
  .ur-input.color {
    label {
      flex-basis: auto;
      flex-grow: 1;
      line-height: 36px;
    }
    ur-input,
    [data-is="ur-input"] {
      flex-basis: 60px;
      input { border: 0; padding: 0; }
    }
  }
  ur-form,
  [data-is="ur-form"] {
    [ur-mask] + .card {
      .input-field {
        label,
        ur-input,
        [data-is='ur-input']{
          position: static;
          display: flex;
          flex-basis: 50%;
        }
      }
    }
    /* border appears when vield is invalid */
    .ur-input:not(.invalid) .error { border: 0; }

  }
}
.modal.active [ur-mask] ~ .modal-container { z-index: 100001; }
.modal-container {
  padding-bottom: 0.8rem;
  .modal-body, .modal-footer, .modal-header { padding-bottom: 0; }
}