ur-tabs.default {
  .tab-anchors a {
    color: inherit;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    border: 1px solid;
    &.active { text-decoration: underline; }
  }
  ur-tab {
    border: 1px solid;
    box-sizing: border-box;
    height: 400px;
    max-width: 100%;
    overflow-y: auto;
    padding: 5px;
    width: 650px;
  }
}

ur-tab {
  display: block;
  &.hidden { display: none; }
}
