<calendar-demo>
  <h1>Calendar</h1>
  <calendar date="2016-6-1">
    <div each="{ o,i in day.occurrences }">
      <div onclick="{ o.select }">
        { o.name }
        <div if="{ o.end }">{ o.moment.format("h:mm a") } - { o.end_moment.format("h:mm a") }</div>
      </div>
      <modal if="{ o.active }" cancel="{ o.cancel }" class="absolute">
        <h2>{ o.name }</h2>
        { o.moment.format("dddd MMMM Do, YYYY") }
        <div>{ o.moment.format("h:mm a") } - { o.end_moment.format("h:mm a"); }</div>
      </modal>
    </div>
  </calendar>

  this.on("mount",function() {
    this.ajax({
      url:"holidays.json",
      success: function(data) {
        var dates = [];
        for (var date in data.holidays) { dates.push(date) }
        this.tags.calendar.occurrences = [
          { 'start': '2016-6-20 7:00 pm', 'name': 'My birthday party', 'end': '2016-6-20 9:00 pm' }
        ];
        for (var i=0;i<dates.length;i++) {
          var d = dates[i];
          for (var i2=0;i2<data.holidays[d].length;i2++) {
            var o = data.holidays[d][i2];
            o.start = o.date;
            this.tags.calendar.occurrences.push(o);
          }
        }
      }
    });
  });
</calendar-demo>
